@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;

@namespace Facepunch.Pool
@attribute [StyleSheet( "/ui/BallHistory.scss" )]
@inherits Panel

@if ( !GameState.Instance.IsValid() ) return;

<root class="@GetRootClass()">
	<div>
		<h1 style="color: white;">
			@GameState.Instance.RoundCount
		</h1>
	</div>
	<div>
    @for (var i = 0; i < 15; i++)
    {
        if ( i < GameState.Instance.PotHistory.Count ) {
            <BallHistoryItem BallType=@GameState.Instance.PotHistory[i].Type BallNumber=@GameState.Instance.PotHistory[i].Number></BallHistoryItem>
        } else {
            <BallHistoryItem BallType=@PoolBallType.White></BallHistoryItem>
        }
    }
	</div>
</root>

@code
{
    protected override int BuildHash()
    {
        return HashCode.Combine( GameState.Instance?.PotHistory.Count ?? 0,  GameState.Instance?.State, GameState.Instance?.RoundCount);
    }

    private string GetRootClass()
    {
	    return GameState.Instance.State != RoundState.Playing ? "hidden" : string.Empty;
    }
}
