@using Sandbox;

@namespace Facepunch.Pool
@inherits PanelComponent

<root class="hud">
    <div class="header">
         <PlayerDisplay></PlayerDisplay>
    </div>

	<div class="left-side-bar">
		<ShotPower></ShotPower>
		<h1>Power</h1>
	</div>

    <div class="footer">
	    <ToastList></ToastList>
	    <BallHistory></BallHistory>
    </div>
    
    <CursorController></CursorController>
</root>
